<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ycy.notification.server.android">

    <application
        android:icon="@drawable/app_l"
        android:label="@string/app_name"
        android:debuggable="true">

        <activity android:label="@string/app_name" android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".NotificationService"
                 android:enabled="true"
                 android:exported="false">
        </service>

        <receiver android:name=".SmsReceiver" android:exported="true" >
          <intent-filter android:priority="1000">
            <action android:name="android.provider.Telephony.SMS_RECEIVED" />
          </intent-filter>
        </receiver>

        <receiver android:name=".BootReceiver"
                  android:enabled="true" android:exported="false">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
          </intent-filter>
        </receiver>
    </application>

    <uses-sdk android:minSdkVersion="10"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
</manifest>
